html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom:90px; /* footer's height */
}

#inputs-card {
    margin-top: 20vh;
    width: 90vw;
    max-width: 600px;
}

#success-div-id {
    position: fixed;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;

    z-index: 1000;
    padding: 2em;
}

#footer {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
}

.input-group-text {
    width: 6em;
}

.not-allowed {
    cursor: not-allowed;
}